    def generateSqantiQCArgs(sqanti_qc_cage,
                            sqanti_qc_cage_path,
                            sqanti_qc_polyA_sites,
                            sqanti_qc_polyA_sites_path,
                            sqanti_qc_polyA_motif,
                            sqanti_qc_polyA_motif_path,
                            sqanti_qc_intron_junctions,
                            sqanti_qc_intron_path,
                            extra_sqanti_qc_args) {
        def argsToMap = { String args ->
            args.split(/\s(?=--)/).collectEntries {
                def parts = it.trim().split(/\s+/, 2)
                [(parts[0]): parts.size() > 1 ? parts[1] : '']
            }
        }

    def base_args ="""
        --force_id_ignore
        --saturation
        --report both
    """.trim()

    if (sqanti_qc_cage){
        base_args += "\n --CAGE_peak $sqanti_qc_cage_path"
    }

    if (sqanti_qc_polyA_sites){
        base_args += "\n --polyA_peak $sqanti_qc_polyA_sites_path"
    }

    if (sqanti_qc_polyA_motif){
        base_args += "\n --polyA_motif $sqanti_qc_polyA_motif_path"
    }

    if (sqanti_qc_intron_junctions){
        base_args += "\n --sites $sqanti_qc_intron_path"
    }

    def final_args_map = argsToMap(base_args) + (extra_sqanti_qc_args ? argsToMap(extra_sqantiqc_args) : [:])
    final_args_map.collect { key, value -> "${key} ${value}".trim() }.join(' ')
    }

    if (!params.skip_sqanti_all && !params.skip_sqanti_qc) {
        process {
            withName: '.*:SQANTI_QC:QC_SQANTI' {
                ext.args   = {
                    generateSqantiQCArgs(
                        params.sqanti_qc_cage,
                        params.sqanti_qc_cage_path,
                        params.sqanti_qc_polyA_sites,
                        params.sqanti_qc_polyA_sites_path,
                        params.sqanti_qc_polyA_motif,
                        params.sqanti_qc_polyA_motif_path,
                        params.sqanti_qc_intron_junctions,
                        params.sqanti_qc_intron_path,
                        params.extra_sqanti_qc_args ?: ''
                        )
                }
            }
        }
    }

