pseudo-code first

a) mandatory inputs
b) pipeline specific inputs-options
c) additonal options provided in params.


Mandatory inputs
* gtf of reconstructed transcriptome
* gtf of annotation transcriptome
* reference genome fasta
- These will be embdeded within the sqanti_qc module itself

Optional arguments can mostly be coded into the module itself, and then $args
can be a place where the "sqanti_additional_arguments is placed"
* --force_id_ignore  Allow the usage of transcript IDs non related with
*  --CAGE_peak



def generateSqantiQCArgs(extra_star_align_args) {
    def argsToMap = { String args ->
        args.split(/\s(?=--)/).collectEntries {
            def parts = it.trim().split(/\s+/, 2)
            [(parts[0]): parts.size() > 1 ? parts[1] : '']
        }
    }


    def final_args_map = argsToMap(extra_sqanti_qc_align_args ?
    argsToMap(extra_sqantiqc_align_args) : [:])
    final_args_map.collect { key, value -> "${key} ${value}".trim() }.join(' ')

if (skip_sqanti_orf)

def base_args = """
    base_args += "\n--skipORF"

if (sqanti_fusions)
    base_args += "\n--is_fusion"


        withName: '.*:SQANTI_QC:SQANTI_QC' {
            ext.args   = {
                generateStarAlignArgs(
                    params.extra_sqanti_qc_args ?: ''
            }

