pseudo-code first

a) mandatory inputs
b) pipeline specific inputs-options
c) additonal options provided in params.


Optional arguments can mostly be coded into the module itself, and then $args
can be a place where the "sqanti_additional_arguments is placed"
* --force_id_ignore  Allow the usage of transcript IDs non related with

    def generateSqantiQCArgs(sqanti_qc_cage,
                            sqanti_qc_cage_path,
                            sqanti_qc_polyA_sites,
                            sqanti_qc_polyA_sites_path,
                            sqanti_qc_polyA_motif,
                            sqanti_qc_polyA_motif_path,
                            sqanti_qc_intron_junctions,
                            sqanti_qc_intron_path,
                            extra_star_align_args)

    def argsToMap = { String args ->
        args.split(/\s(?=--)/).collectEntries {
            def parts = it.trim().split(/\s+/, 2)
            [(parts[0]): parts.size() > 1 ? parts[1] : '']
        }
    }

    if (sqanti_qc_cage){
        base_args += "\n $sqanti_qc_cage_path"
    }
    if (sqanti_qc_polyA_sites){
        base_args += "\n $sqanti_qc_polyA_sites_path"
    }
    if (sqanti_qc_polyA_motif){
        base_args += "\n $sqanti_qc_polyA_motif_path"
    }
    if (sqanti_qc_intron_junctions){
        base_args += "\n $sqanti_qc_intron_path"
    }

    def final_args_map = argsToMap(base_args, extra_sqanti_qc_align_args ?
    argsToMap(extra_sqantiqc_align_args) : [:])
    final_args_map.collect { key, value -> "${key} ${value}".trim() }.join(' ')

if (skip_sqanti_orf)

def base_args = """
    --force_id_ignore
    --skip


    base_args += "\n--skipORF"

if (sqanti_fusions)
    base_args += "\n--is_fusion"

        withName: '.*:SQANTI_QC:SQANTI_QC' {
            ext.args   = {
                generateStarAlignArgs(
                    params.extra_sqanti_qc_args ?: ''
            }

