    def generateIsoQuantArgs(isoquant_skip_correction, extra_isoquant_args) {
        def argsToMap = { String args ->
            args.split(/\s(?=--)/).collectEntries {
                def parts = it.trim().split(/\s+/, 2)
                [(parts[0]): parts.size() > 1 ? parts[1] : '']
            }
        }

    def base_args = """
        -d nanopore
        --report_novel_unspliced true
        --complete_genedb
        --model_construction_strategy default_ont
    """

    if !(isoquant_skip_correction) {
        base_args += "\n--splice_correction

    def final_args_map = argsToMap(base_args) + (extra_isoquant_args ? argsToMap(extra_isoquant_args) : [:])
    final_args_map.collect { key, value -> "${key} ${value}".trim() }.join(' ')
    }

    if (!params.skip_alignment) {
        if (!params.skip_isoquant) {
            process {
                withName: '.*:ISOQUANT:ISOQUANT' {
                    ext.args = {
                        generateIsoQuantArgs(
                        params.skip_isoquant_correction ? '' : '--splice_correction_strategy default_ont'
                        (p

                    [
                                                params.isoquant_skip_correction ? '' : '--splice_correction_strategy default_ont'
                        ].join(' ').trim()
                        }
                }
            }
        }
    } else {
        if (params.skip_alignment && params.bam_input) {
            process {
                withName: '.*:ISOQUANT:ISOQUANT' {
                    ext.args = {
                        params.isoquant_skip_correction ? '' : '--splice_correction_strategy default_ont'
                        ].join(' ').trim()
                        }
                    }
            }
        }
    }

