if (!params.skip_alignment) {
    if (!params.skip_stringtie) {
        process {
            withName: 'ISOQUANT' {
                ext.args   = { [
                    '-d nanopore',
                    '--report_novel_unspliced true'
                    '--complete_genedb',
                    '--model_construction_strategy default_ont',
                    params.isoquant_skip_correction ? '' : '--splice_correction_strategy default_ont'
                ].join(' ').trim() }


                publishDir = [
                    path: { "${params.outdir}/${params.aligner}/stringtie" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
        }
    }
}
