/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run medgen/directrna -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '12.h'

    // Input data
    input  = 'test/samplesheets/samplesheet_test_dRNA.csv'
    //input_path = 'https://github.com/nf-core/test-datasets/blob/nanoseq/fastq/demultiplexed/quantification/bambu/MCF7_directRNA_replicate4.fastq.gz'

    // Skip processes for test
    // Give any required params for the test so that command line flags are not needed
    skip_prepare_reference = true
    skip_flair_correct = true
    skip_flair_collapse = false
    skip_bambu = false
    // skip_jaffal = true
    // skip_toulligqc = true
    // skip_sqanti_all = true
    // skip_TALON_qc = true

    // Genome references
    // These channel names have to match those in the full workflow also
    genome_fasta = "assets/KCMF1_hg38.fa"
    genome_fasta_index = "assets/KCMF1_hg38.fa.fai"
    genome_fasta_sizes = "assets/KCMF1_hg38.fa.sizes"
    genome_fasta_minimap2_index = "assets/KCMF1_hg38_k14.mmi"
    //genome_fasta =
    //'https://raw.githubusercontent.com/nf-core/test-datasets/nanoseq/reference/chr22_1-17550000.fa'
    annotation_gtf = "assets/KCMF1_hg38_transcript.gtf"
    //annotation_gtf = "https://raw.githubusercontent.com/nf-core/test-datasets/nanoseq/reference/chr22_1-17500000.gtf"
    transcriptome_fasta = "assets/KCMF1_hg38_transcript.fa"
}
