/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run medgen/directrna -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

includeConfig "../modules/local/gffcompare/nextflow.config"

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    // nf-core: Give any required params for the test so that command line flags are not needed
    input  = /test/samplesheets/samplesheet_testfull_dRNA.csv'
    //input_path =
    'https://github.com/nf-core/test-datasets/blob/nanoseq/fastq/demultiplexed/quantification/bambu/MCF7_directRNA_replicate4.fastq.gz'

    // Limit resources so that this can run on GitHub Actions
    max_cpus                        = 2
    max_memory                      = '12.GB'
    max_time                        = '36.h'

    // Input data
    input                           = 'test/samplesheets/samplesheet_test_dRNA.csv'
    bam_input                       = false
    // Genome references
    // These channel names have to match those in the full workflow also
    genome_fasta                    = "assets/fulltest_data/hg38.analysisSet.fa"
    genome_fasta_index              = "assets/fulltest_data/hg38.analysisSet.fa.fai"
    genome_fasta_sizes              = ""
    genome_minimap2_index           = ""
    transcriptome_fasta             = "assets/fulltest_data/Homo_sapiens.GRCh38.112_chr_transcripts.fa"
    annotation_gtf                  = "assets/fulltest_data/Homo_sapiens.GRCh38.112_chr.gtf"
    skip_prepare_reference          = false
    //annotation_gtf = "https://raw.githubusercontent.com/nf-core/test-datasets/nanoseq/reference/chr22_1-17500000.gtf"
    //genome_fasta = 'https://raw.githubusercontent.com/nf-core/test-datasets/nanoseq/reference/chr22_1-17550000.fa'
    //input_path = 'https://github.com/nf-core/test-datasets/blob/nanoseq/fastq/demultiplexed/quantification/bambu/MCF7_directRNA_replicate4.fastq.gz'
    // Skip processes for test
    // Give any required params for the test so that command line flags are not needed
    skip_mapping                    = false
    skip_bam_to_bigwig              = false
    skip_qc                         = false
    skip_bam_qc                     = false
    skip_nanoq                      = false
    skip_sequali                    = false
    skip_alredy                     = false
    skip_cramino                    = false
    skip_samtools_flagstat          = false
    skip_ngs_bits                   = false
    ngs_bits_skip_contamination     = false // default: [false]
    ngs_bits_build                  = 'hg38' // options: [hg38, hg19, non_human]
    cramino_min_length              = 0 // minimum re
    skip_jaccard                    = false
    run_flair                       = true
    skip_flair_correct              = false
    skip_flair_collapse             = false
    extra_flair_collapse_options    = null
    run_bambu                       = true
    run_isoquant                    = true
    skip_isoquant_correction        = true
    extra_isoquant_options          = null
    run_stringtie                   = true
    extra_stringtie_options         = null
    skip_jaffal                     = true
    skip_jaffal_download            = true
    skip_sqanti_all                 = true
    skip_gffcompare                 = false
    extra_gffcompare_options        = null
    skip_sqanti_qc                  = true
    sqanti_qc_reference             = 'human'
    sqanti_qc_cage                  = true
    sqanti_qc_cage_path             = '/path/to/cage'
    sqanti_qc_polyA_sites           = true
    sqanti_qc_polyA_sites_path      = 'path/to/polyA'
    sqanti_qc_polyA_motif           = true
    sqanti_qc_polyA_motif_path      = 'path/to/polyA/path'
    sqanti_qc_intron_junctions      = true
    sqanti_qc_intron_path           = 'path/to/intro/path'
    extra_sqanti_qc_options         = null
}
