/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run . -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

includeConfig "../modules/local/gffcompare/gffcompare/nextflow.config"
includeConfig "../modules/local/nanoq/nanoq/nextflow.config"

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data
    input                           = "test/samplesheets/samplesheet_test_local.csv"
    //input                           = "test/samplesheets/samplesheet_test_local_bam.csv"
    sequencing_type                 = "ont-cdna" // sequencing molecule [ont-drna OR ont-cdna]
    bam_input                       = false
    // Genome references
    // These channel names have to match those in the full workflow also
    genome_fasta                    = "assets/fulltest_data/hg38.analysisSet.fa.gz"
    genome_fasta_index              = "assets/fulltest_data/hg38.analysisSet.fa.fai"
    genome_fasta_sizes              = null
    genome_minimap2_index           = null
    transcriptome_fasta             = "assets/fulltest_data/Homo_sapiens.GRCh38.112_chr_transcripts.fa.gz"
    transcriptome_minimap2_index    = null
    annotation_gtf                  = "assets/fulltest_data/Homo_sapiens.GRCh38.112_chr.gtf.gz"
    skip_prepare_reference          = false
    skip_mapping                    = false
    transcriptome_mapping           = true
    skip_bam_to_bigwig              = false
    skip_qc                         = false
    skip_bam_qc                     = false
    skip_nanoq                      = false
    skip_sequali                    = false
    skip_alfred                     = false
    skip_cramino                    = false
    skip_samtools_flagstat          = false
    skip_ngs_bits                   = false
    ngs_bits_skip_contamination     = false  // default: [false]
    ngs_bits_build                  = 'hg38' // options: [hg38, hg19, non_human]
    cramino_min_length              = 0      // minimum required
    skip_jaccard                    = false
    skip_flair                      = false
    skip_flair_correct              = false
    skip_flair_collapse             = false
    extra_flair_collapse_options    = null
    skip_bambu                      = false
    skip_isoquant                   = false
    skip_isoquant_correction        = false
    extra_isoquant_options          = null
    skip_stringtie                  = false
    extra_stringtie_options         = null
    skip_jaffal                     = true
    skip_jaffal_download            = true
    jaffal_reference                = "assets/fulltest_data/for_jaffal"
    // TRANSCRIPT QUANTIFICATION
    skip_transcript_quantification  = false
    skip_oarfish                    = false
    // TRANSCRIPTOME ASSESSMENT
    skip_gffcompare                 = false
    extra_gffcompare_options        = null
    // CONTAMINATION / UNMAPPED READ PROFILING
    skip_sylph                      = false
    sylph_database_url              = "http://faust.compbio.cs.cmu.edu/sylph-stuff/gtdb-r226-c1000-dbv1.syldb"
    sylph_database_name             = "GTDB_r226"
    skip_sqanti_all                 = true
    skip_sqanti_qc                  = true
    sqanti_qc_reference             = 'human'
    sqanti_qc_cage                  = false
    sqanti_qc_cage_path             = null
    sqanti_qc_polyA_sites           = false
    sqanti_qc_polyA_sites_path      = null
    sqanti_qc_polyA_motif           = false
    sqanti_qc_polyA_motif_path      = null
    sqanti_qc_intron_junctions      = false
    sqanti_qc_intron_path           = null
    extra_sqanti_qc_options         = null
    help                            = false
}

validation {
    help {
        enabled     = true
        beforeText  = "Welcome to LongTranscriptomics, I see you are seeking help."
        afterText   = "Farewell, hopefully this was helpful. Please cite the pipeline owners when using this pipeline."
        command     = "nextflow run . -profile <profile> --outdir <outdir>"
    }
}
