    def generategffCompareArgs(extra_gffcompare_options) {
        def argsToMap = { String args ->
            args.split(/\s(?=--)/).collectEntries {
                def parts = it.trim().split(/\s+/, 2)
                [(parts[0]): parts.size() > 1 ? parts[1] : '']
            }
        }

    def base_args =
    """
        -V
    """.trim()

    def final_args_map = argsToMap(base_args) + (extra_gffcompare_options ?
    argsToMap(extra_gffcompare_options) : [:])
    final_args_map.collect { key, value -> "${key} ${value}".trim() }.join(' ')
    }

    if (!params.skip_gffcompare) {
            process {
                withName: 'GFFCOMPARE' {
                    ext.args = {
                        generategffCompareArgs(params.extra_gffcompare_options)
                    }
                }
        }
    }
