includeConfig "../modules/local/isoquant/isoquant/nextflow.config"
includeConfig "../modules/local/gffcompare/gffcompare/nextflow.config"
includeConfig "../modules/local/nanoq/nanoq/nextflow.config"
includeConfig "../modules/local/sequali/sequali/nextflow.config"
includeConfig "../modules/local/minimap2/align/nextflow.config"
includeConfig "../modules/local/samtools/sort/nextflow.config"
includeConfig "../modules/local/samtools/index/nextflow.config"
includeConfig "../modules/local/bedtools/bam_to_bedgraph/nextflow.config"
includeConfig "../modules/local/bedtools/bam_to_bedgraph/nextflow.config"
includeConfig "../modules/local/ucsc/bedgraphtobigwig/nextflow.config"
includeConfig "../modules/local/ucsc/bedclip/nextflow.config"
includeConfig "../modules/local/alfred/qc/nextflow.config"
includeConfig "../modules/local/alfred/transpose/nextflow.config"
includeConfig "../modules/local/cramino/cramino/nextflow.config"
includeConfig "../modules/local/ngsbits/mapping_qc/nextflow.config"
includeConfig "../modules/local/samtools/flagstat/nextflow.config"
includeConfig "../modules/local/flair/bam_to_bed12/nextflow.config"
includeConfig "../modules/local/flair/correct/nextflow.config"
includeConfig "../modules/local/flair/collapse/nextflow.config"
includeConfig "../modules/local/bambu/bambu/nextflow.config"
includeConfig "../modules/local/isoquant/isoquant/nextflow.config"
includeConfig "../modules/local/stringtie/stringtie/nextflow.config"
includeConfig "../modules/local/gffread/gffread/nextflow.config"
includeConfig "../modules/local/jaffal/bpipe/nextflow.config"
includeConfig "../modules/local/oarfish/raw_read/nextflow.config"
includeConfig "../modules/local/bedtools/jaccard/nextflow.config"
includeConfig "../modules/local/gffcompare/gffcompare/nextflow.config"
includeConfig "../modules/local/curl/curl/nextflow.config"
includeConfig "../modules/local/minimap2/index/nextflow.config"
includeConfig "../modules/local/unzip/unzip/nextflow.config"
includeConfig "../modules/nf-core/gunzip/nextflow.config"
includeConfig "../modules/nf-core/custom/getchromsizes/nextflow.config"
includeConfig "../modules/local/isoquant/gtf2db/nextflow.config"


//TODO
// don't forget prepare reference and other subworkflows
