 process {
    withName: 'ISOQUANT' {
        publishDir = [
        path: { "${params.outdir}/transcript_reconstruction/isoquant/${meta.id}_${meta.replicate}" },
        //mode: params.publish_dir_mode
        ]
    }
}

    def generateIsoQuantArgs(isoquant_skip_correction, extra_isoquant_options) {
        def argsToMap = { String args ->
            args.split(/\s(?=--)/).collectEntries {
                def parts = it.trim().split(/\s+/, 2)
                [(parts[0]): parts.size() > 1 ? parts[1] : '']
            }
        }

    def base_args ="""
        -d nanopore
        --report_novel_unspliced true
        --complete_genedb
        --model_construction_strategy default_ont
    """.trim()

    if (isoquant_skip_correction == false) {
        base_args += "\n--splice_correction_strategy default_ont"
    }

    def final_args_map = argsToMap(base_args) + (extra_isoquant_options ? argsToMap(extra_isoquant_options) : [:])
    final_args_map.collect { key, value -> "${key} ${value}".trim() }.join(' ')
    }

    if (!params.skip_mapping) {
        if (!params.skip_isoquant) {
            process {
                withName: 'ISOQUANT' {
                    ext.args = {
                        generateIsoQuantArgs(params.skip_isoquant_correction, params.extra_isoquant_options ?: '')
                        //params.skip_isoquant_correction ? '' : '--splice_correction_strategy default_ont'
                        //(p
                    }
                }
            }
        }
    } else {
        if (params.skip_mapping && params.bam_input) {
            process {
                withName: 'ISOQUANT' {
                    ext.args = {
                        generateIsoQuantArgs(params.skip_isoquant_correction, params.extra_isoquant_options ?: '')
                    }
            }
        }
    }
}
