process {
    withName: 'ISOQUANT' {
        ext.args = { [
            "-d nanopore",
            "--report_novel_unspliced true",
            "--complete_genedb",
            "--model_construction_strategy default_ont",
            params.skip_isoquant_correction ? "--splice_correction_strategy default_ont" : '' ].join(' ').trim() }
        publishDir = [
        path: { "${params.outdir}/transcript_reconstruction/isoquant/${meta.id}_${meta.replicate}" },
        ]
    }
}
